.menu
  &__top:hover
    border-bottom: 2px solid grey
    color: #fff
    transition: 2s
    transform: scale(1.2)
.home
  &__button:hover
    background-color: #fff
    border: none
    transition: 2s
    transform: scale(1.2)

  &__button1:hover
    background-color: #8f93ac
    border: none
    transition: 2s
    transform: scale(1.2)
    border: 2px solid #fff
  &__btn1:hover
    color: #fff

.navbar
  &__logo:hover
    // border: 1px solid #fff
    transition: 2s
    transform: scale(1.3)
.about
  &__button:hover
    background-color: #a1a1a1
    border: yellow
    transition: 2s
    transform: scale(1.2)
  &__btn:hover
    color: #fff
.services
  &__user:hover
    background-color: transform(blue)
    transition: 2s
    transform: scale(1.2)
.skills

.portpholio
  &__items:hover
    transition: 2s
    transform: scale(1.2)
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5)
  &__btn:hover
    transition: 2s
    transform: scale(1.2)
    box-shadow: 0.4em 0.4em 5px rgba(122,122,122,0.5)
// .testimonials
//   &__icon:hover
//     width: 180px
//     height: 180px
//     border: 2px solid yellow
    // transition: 2s
    // transform: scale(1.1)
.feedback
  &__button:hover
    border: 3px solid yellow
    transition: 2s
    transform: scale(1.2)
    background-color: #FFF9C4
