.menu
  &__top:hover
    border-bottom: 2px solid grey
    color: #fff
    transition: 2s
    transform: scale(1.2)
.about
  &__button:hover
    background-color: #fff
    border: none
    transition: 2s
    transform: scale(1.2)
    
  &__button1:hover
    background-color: #8f93ac
    border: none
    transition: 2s
    transform: scale(1.2)
    border: 2px solid #fff
    color: green

.navbar
  &__logo:hover
    border: 1px solid #fff
    transition: 2s
    transform: scale(1.2)
