.header
  background-color: #dddddd

.navbar
  position: fixed
  display: flex
  justify-content: space-between
  align-items: center
  height: 70px
  &__logo
    align-items: center
    display: flex
    flex-direction: column
    justify-content: center

  &__menu
    display: flex
    align-items: center
    justify-content: center
    margin-left: 580px
.logo
  &__image
    margin-top: 35px
  &__title
    margin-left: 8px
    padding: 5px
  &__subtitle
    font-size: 8px
.menu
  &__home
    border-bottom: 1px solid black
  &__top
    margin-left: 30px
    +asap
    text-transform: uppercase
    text-decoration: none
.home
  padding-top: 1px
  &__title
    padding-top: 230px
    +asap
    font-size: 70px
  &__image
    margin-top: -470px
    margin-left: 150px
  &__subtitle
    +asap
    font-size: 22px
    padding-bottom: 50px
  &__button
    width: 160px
    height: 50px
    +asap

  &__btn
    text-decoration: none
    color: black

  &__button1
    position: relative
    width: 160px
    height: 50px
    background-color: #fff
    border: none
    +asap
    margin-top: 20px
    margin-left: 20px
    padding-top: 1px
    color: black
  &__btn1
    text-decoration: none
