.testimonials
  &__title
    +asap
    color: #868686
    font-size: 46px
    text-transform: uppercase
    align-items: center
    justify-content: center
    display: flex
    padding-top: 120px
    padding-bottom: 50px
  &__slider
    display: flex
    justify-content: center
    align-items: center
    text-transform: uppercase
    border: 1px solid black
    padding-bottom: 80px
    padding-top: 80px
    padding-left: 50px
  &__info
    display: block
    justify-content: center
  &__subtitle
    color: #979797
    font-size: 30px
    line-height: 1.5
  &__post
    font-size: 12px
    line-height: 2.1
  &__review
    color: #d5d5d5
    font-size: 16px
    line-height: 1.5
  &__img
    margin-right: 30px
  &__icons
    background-color: #f6f6f6
    margin-top: 100px
    margin-bottom: 50px
  &__pro
    // height: 500px
    display: flex
    justify-content: space-between
    align-items: center
    padding: 20px
    // margin-top: 100px
    +asap
  &__icon
    display: block
    justify-content: center
    text-align: center
    align-items: center
    line-height: 1.5
    // margin: 20px
  &__content
    margin-top: 10px
